:root {
  --brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --press-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0px;
}

img {
  display: block;
}

.flex {
  display: flex;
}

.gap {
  gap: 24px;
}

.button {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
  /* outline: 2px solid tomato; */
}
/* ----------------------HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.brand-logo {
  color: var(--brand-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}

.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.current {
  color: var(--press-color);
}

.link-nav.current::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--press-color);
  position: absolute;
  bottom: -29px;

  left: 0;
  border-radius: 4px;
}

.link-mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus,
.link-mail:hover,
.link-mail:focus {
  color: var(--brand-color);
}

.link-tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-tel:hover,
.link-tel:focus {
  color: var(--brand-color);
}

.header-list {
  margin-left: 76px;
  gap: 40px;
}

.header-contact {
  margin-left: auto;
  gap: 40px;
}

.header-item {
  position: relative;
}

/*--------------- hero */
.hero {
  background-color: var(--dark-color);
  text-align: center;

  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);

  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.button-hero {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--brand-color);
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

.overlay {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* -----------------SECTION METHODS */

.method {
  padding-top: 120px;
  padding-bottom: 120px;
}

.methods-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  margin-top: 0px;
  margin-bottom: 8px;
}

.methods-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.method-list {
  flex-basis: calc((100% - 24px * 3) / 4);
}

/* .method-item {
    width: 264px;
    
  } */

.item-antenna {
  display: flex;
  background-color: var(--light-color);
  width: 264px;
  height: 112px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

/* ---------------- SECTION GALLERY */

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;

  flex-basis: calc((100% - 24px * 3) / 4);
}

.gallery {
  padding-bottom: 120px;
}

/*---------------------- our team  */
.team {
  background-color: var(--light-color);

  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark-color);
  margin-bottom: 72px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  margin-bottom: 8px;
  padding-top: 32px;
}

.team-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.team-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.center {
  justify-content: center;
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: var(--press-color);
}

.social-team-list {
  margin-top: 8px;
  justify-content: center;
  display: flex;
  gap: 24px;
}

/* -----------------------CUSTOMERS */
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  margin-bottom: 72px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 2%;
  text-align: center;
}

.customers-item {
  border: 1px solid var(--subtle-color);
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover,
.customers-item:focus {
  border: 1px solid var(--press-color);
}

.customers-link {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 168px;
  height: 88px;
  fill: var(--subtle-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--press-color);
}

/*--------------========= FOOTER==========*/

.footer {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  width: 264px;
  height: 72px;

  margin-top: 16px;
}

.logo-bot {
  color: var(--light-color);
}

.footer-social {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #ffffff;
  width: 96px;
  height: 24px;
  margin-bottom: 16px;
}

.footer-right {
  margin-left: 120px;
  width: 208px;
  height: 80px;
}

.footer-right-list {
  gap: 16px;
}

.footer-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--success-color);
}

/* =================FOOTER FORM============== */

.footer-subscribe {
margin-left: 80px;
}

.footer-form {
  display: flex;
  margin-top: 16px;
}
.subscribe-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  margin: 0;
  letter-spacing: 0.02em;

  color: var(--white-color);
}

.input-subscribe {
  width: 264px;
  height: 40px;

  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 0px 8px 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;

  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  cursor: pointer;
  background-color: var(--brand-color);
  border-radius: 4px;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);
  fill: var(--white-color);

  padding: 8px 24px;
}

.button-form {
  margin-left: 24px;
}
.icon-send {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------------portfolio page=========  */
.button-filter {
  background: var(--light-text);

  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);
  cursor: pointer;

  background: var(--light-color);
  border: 1px solid var(--accent-color);

  padding: 12px 24px;

  transition-property: background-color, color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--press-color);
  color: var(--white-color);
  border: 1px solid var(--press-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pic-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.pic-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-caption {
  padding: 32px 0px;
  border: 1px solid var(--accent-color);
  border-top: none;
  padding-left: 16px;
}

.filter-list {
  justify-content: center;

  margin-bottom: 72px;
}

.gallery-portfolio {
  flex-wrap: wrap;
  flex-basis: calc((100% - 24px * 8) / 9);
  column-gap: 24px;
  row-gap: 48px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-item {
  width: 360px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cover-wrap {
  position: relative;
  overflow: hidden;
}

.cover-text {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 40px 32px 164px 32px;
  background-color: var(--brand-color);

  color: var(--light-color);

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .cover-text {
  transform: translateY(0%);
}

/* ==================MODAL ==========*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 24px;

  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus,
.modal-close:hover {
  background-color: var(--press-color);
  border: none;
  fill: var(--white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ====================Modal FORM=================== */

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark-color);
  margin-top: 24px;
  margin-bottom: 34px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--brand-color);
}

.input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--brand-color);
}

.modal-item {
  margin-bottom: 8px;
}
.modal-button {
  padding: 16px 32px;
  width: 169px;
  display: block;

  margin: 24px auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.modal-comment {
  width: 100%;
  min-height: 120px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;

  background-color: transparent;

  padding-left: 16px;
  padding-top: 8px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--brand-color);
}

.modal-comment::placeholder {
  position: absolute;
  top: 8px;
  left: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.input-name {
  display: inline-block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
  color: var(--subtle-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===========CHECKBOX================== */

.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #757575;
}

.check-link {
  color: var(--brand-color);
  cursor: pointer;
}

.check-text span {
  display: block;
  width: 16px;
  height: 16px;

  margin-right: 8px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--press-color);
  border: none;
  fill: var(--light-color);
}

/* .check-text::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
}

.input-check:checked + .check-text::before {
  background-color: var(--press-color);
  border: none;
  background-image: url(../images/v.svg);
  background-repeat:no-repeat;
  background-position: center;
  
} */
